.navbar{
	background-color: white;
	height: 100px;
	padding-top: 20px;
}
.brandA{
	font-size: 200%;
	color:lightblue;
	margin-left: 10px;
}
.brandB{
	font-size: 250%;
	color: blue;
	font-weight: bolder;
}
.under_brand{
	color: orange;
	margin-left:35%;
}
.searchContainer{
	display: inline-block;
	vertical-align: top;
	margin-left: 20%;
	width: 50%;
}
.navbar-right{
    margin-top: 20px;
    width: 70%;
}
.searchField{
	border:1px solid grey;
	border-radius: 5px;
	width: 100%;
	height: 35px;
	
}
.auth{
	display: inline-block;
	vertical-align: top;
	margin-left: 5%;
}
.join{
	background-color: 
}
